.register-card {
    height: 500px;
    width: 35%;
    justify-content: center;
    position: relative;
    padding: 60px;
}

.fundooAcount {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: center;
    margin-top: 5%
}

#signup {
    padding: 20px;
    text-align: right;
}

#cart {
    text-align: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.card1 {
    height: 350px;
    width: 450px;
}

.email {
    padding: 40px;
}

.fundoo-content {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
}

.yourEmail {
    text-align: center;
    margin-top: 4%;
    color: red;
    font-size: 22px;
}

.recoveryEmail {
    text-align: center;
    margin-top: 4%;
    color: green;
    font-size: 22px;
}

.back-next {
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
}

.card {
    width: 35%;
    height: 300px;
    margin-top: 6%;
}

/** appBar design **/

.icon {
    color: gray;
    cursor: pointer;
}

.iconReaload {
    color: gray;
    cursor: pointer;
    margin-right: 20px;
}

.iconGrid-List {
    color: gray;
    cursor: pointer;
    margin-right: 24px;
}

.dashBoardIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
}

.sectionDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchAndIcon {
    display: flex;
    justify-content: space-around;
    width: 61em;
    margin-left: 5em;
}

.search {
    border-radius: 12px;
    background: rgba(167, 157, 157, 0.39);
    display: flex;
    min-width: 37em;
    padding: 10px;
    align-items: center;
}

.Take_Note {
    display: flex;
    justify-content: center;
    width: 82em;
}

.card_Note {
    width: 35em;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    box-shadow: 0px 1px 7px 0px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.card_Notes {
    width: 35em;
    padding: 15px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.icon_Take {
    display: flex;
    justify-content: space-between;
    width: 7em;
}

.inputNote {
    margin-top: 10px;
    font-size: 13px;
}

.imageAndClose {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.imageIcon {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.imageIconCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    visibility: hidden;
}

.getCardNote {
    display: flex;
    justify-content: center;
}

.gridView {
    width: 315px;
}

.listView {
    width: 37em;
}

.gridViewCss {
    position: relative;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.listView:hover>.imageIconCard {
    visibility: visible;
}

.gridView:hover>.imageIconCard {
    visibility: visible;
}

.dialogCard {
    width: 35em;
    min-height: 140px;
    height: auto;
    padding: 10px;
}

.trashNote {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 8em;
}

.imageIconTrash {
    display: flex;
    justify-content: space-between;
    width: 70px;
    visibility: hidden;
}

.listView:hover>.imageIconTrash {
    visibility: visible;
}

.gridView:hover>.imageIconTrash {
    visibility: visible;
}

.Profile {
    min-width: 30em;
    min-height: 15em;
    height: auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

.colorPaper {
    display: flex;
}

.profileUpload {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    margin-left: 85px;
}

.profilebutton {
    display: flex;
    justify-content: center;
}

.dialogLabel {
    width: 200px;
    margin: 12px;
}

.collaborator-avtar-email {
    display: flex;
    margin-top: 10px;
}

.collaborator_input {
    display: flex;
    width: 26.5em;
}

.collaborator-button {
    display: flex;
    justify-content: flex-end;
}

.collaborator-email {
    margin-left: 12px;
}

.collaborator-personOremail {
    margin-left: 12px;
    display: flex;
}

.cardQuestion {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    width: 50%;
    margin-top: 6em;
    margin-left: 20em;
    height: 3.5em;
}

.questionAndEditor {
    margin-top: 2.5em;
}

.question {
    margin-left: 10em;
    margin-bottom: 8px;
    color: brown;
}

.editor {
    display: 'flex';
    border: 1px solid gray;
    flex-direction: 'column';
    width: 72%;
    margin-left: 12em;
    height: 20em;
}

.selectNoteQues {
    display: flex;
    align-self: center;
    margin-left: 15px;
}

.closeQues {
    display: flex;
    align-items: 'center';
    margin-left: 15px;
}

.ask {
    display: flex;
    justify-content: flex-end;
    margin-right: 6em;
    color: brown;
    cursor: pointer;
}

.showQuestion {
    display: flex;
    flex-direction: column-reverse;
}

.selectNameAndMessage {
    margin-left: 10em;
}

.selectName {
    display: flex;
    margin-top: 15px;
}

.showMessage {
    margin-top: 15px;
}

.message {
    display: flex;
}

.like {
    margin-left: 30px;
}

/* -----------------------DashBoard----------------------- */

@media only screen and (min-width: 360px) {
    .card_Note {
        width: 21em;
        margin-left: .8em;
    }
    .Take_Note {
        display: inherit;
        justify-content: inherit;
        margin-top: 24%;
    }
}

@media only screen and (min-width: 411px) {
    .card_Note {
        width: 21em;
        margin-left: 2.3em;
    }
    .Take_Note {
        display: inherit;
        justify-content: inherit;
        margin-top: 24%;
        width: 0px;
    }
}

@media only screen and (min-width: 414px) {
    .card_Note {
        width: 23em;
        margin-left: 5em;
    }
    .Take_Note {
        display: inherit;
        justify-content: inherit;
        margin-top: 24%;
        width: 0px;
    }
}

@media only screen and (min-width: 320px) {
    .card_Note {
        width: 18em;
        margin-left: 1.1em;
    }
    .Take_Note {
        display: flex;
        justify-content: center;
        margin-top: 24%;
        width: 19em;
    }
}

@media only screen and (min-width: 375px) {
    .card_Note {
        width: 21em;
        margin-left: 1.1em;
    }
    .Take_Note {
        display: inherit;
        justify-content: inherit;
        margin-top: 24%;
        width: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .card_Note {
        width: 32em;
    }
    .Take_Note {
        display: flex;
        justify-content: center;
        margin-top: 4%;
        width: 100%;
    }
}