.register-card {
    height: 500px;
    width: 35%;
    justify-content: center;
    position: relative;
    margin: 4rem 25rem;
    padding: 60px;
}

#signup {
    padding: 20px;
    text-align: right;
}

#cart {
    text-align: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.card1 {
    height: 450px;
    width: 550px;
}

.email {
    padding: 40px;
}

.fundoo-content {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
}

.yourEmail {
    text-align: center;
    margin-top: 4%;
    color: red;
    font-size: 22px;
}

.recoveryEmail {
    text-align: center;
    margin-top: 4%;
    color: green;
    font-size: 22px;
}

.back-next {
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
}

.card {
    width: 35%;
    height: 300px;
    margin-top: 6%;
}

@media only screen and(min-width:600px) {
    .allNotes {
        margin-left: 240px;
    }
}

/** appBar design **/

.Icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
}

.sectionDesktop {
    display: flex;
    flex-direction: row;
}

.searchAndIcon {
    display: flex;
    justify-content: space-around;
    width: 61em;
    margin-left: 5em;
}

.search {
    border-radius: 12px;
    background: rgba(167, 157, 157, 0.39);
    display: flex;
    min-width: 37em;
    padding: 10px;
    align-items: center;
}

.Take_Note {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card_Note {
    width: 35em;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    box-shadow: 0px 1px 7px 0px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.card_Notes {
    width: 35em;
    padding: 15px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.icon_Take {
    display: flex;
    justify-content: space-between;
    width: 7em;
}

.inputNote {
    margin-top: 10px;
    font-size: 13px;
}

.imageAndClose {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.imageIcon {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.imageIconCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.allNotes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.notesAll_{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;

}
.getcard {
    width: 240px;
    min-height: 100px;
    height: auto;
    margin: 10px;
    padding: 15px;
}
.dialogCard{
    width:35em;
    min-height: 140px;
    height: auto;
    padding: 10px;
}
.trashNote{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 8em;
}
.imageIconTrash{
    display: flex;
    justify-content: space-between;
    width: 70px;
}